@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #191765;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em;
}

.myLogo {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#myName {
  color: #7d73fc;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

#myTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #edecff;
  text-align: center;
}

.shortBio {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #c8c8d4;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

#myTitle:hover,
#myName:hover,
.shortBio:hover,
.myLogo:hover {
  text-decoration: underline;
  text-decoration-color: #0d24f0;
}

.headline {
  background-image: url(./assets/ellipseHeader.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.myAbilities {
  background-image: url(./assets/ellipse2.svg);
  background-repeat: no-repeat;
  background-position: right;
}

ellipse2 {
  display: block;
  float: left;
}

.mySkills {
  margin-top: 25px;
  margin-left: 52px;
}

.abilities {
  padding-left: 0;
  text-decoration: none;
}

.abilities li{
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 30px;
}

#frameworks,
#languages,
#skills {
  text-decoration: none;
  color: #9490FF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.skillsSection {
  display: flex;
  flex-wrap: wrap;
}

.line {
  width: 300px;
  margin-left: 30px;
}

#github,
#linkedIn,
#angellist,
#twitter,
#medium {
  width: 20px;
  margin: 10px;
}

.profiles {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: center;
  align-items: center;
}
